* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #c7c7c7;
  line-height: 1.6;
}
header {
  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-left h1 {
  margin: 0;
  padding: 0 20px;
}

.header-right {
  display: flex;
}

.header-right a {
  color: #00aaff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header-right a:hover {
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  width: 250px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 270px;
  padding: 20px;
  max-width: 60%;
}

.content h1, .content h2, .content h3 {
  color: #ffffff;
  margin-top: 20px;
}

pre {
  background-color: #2b2b2b;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 0.9em;
}

code {
  font-family: 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace !important;
}

a {
  color: #a1ddff;
}

hr {
  width: 100%;
  margin-top: 20px;
}

.video-container iframe {
  width: 100%;
  height: auto;
  max-width: 560px;
  aspect-ratio: 16 / 9;
  display: block;
}

iframe {
  padding: 4px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .sidebar {
    width: 10%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
  }
  
  .content {
    margin-left: 0;
    max-width: 100%;
  }

  .container {
    flex-direction: column;
  }
}
