body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

header {
    background-color: #1d1d1d;
    padding: 1rem;
    text-align: center;
    margin-left: -10px !important;
}


h1 {
    margin: 0;
}

input#search {
    width: calc(50% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

#filters {
    padding: 10px;
    max-width: 1000px; 
    width: 100%; 
    box-sizing: border-box; 
}

#filters select {
    width: calc(50% - 10px); 
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
    box-sizing: border-box; 
}


#clear-filters {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 5px;
}

#clear-filters:hover {
    background-color: #6e2626;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#collab-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.collab-item {
    background-color: #333;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease;
}

.collab-item:hover {
    background-color: #444;
    transform: scale(1.05);
}

.cover-img {
    width: 25%;
    border-radius: 6px;
    cursor: pointer;
}

.play-pause {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
}

.tags {
    margin-top: 10px;
}

.status-tag, .genre-tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.status-tag.Open { background-color: green; }
.status-tag.Taken { background-color: orange; }
.status-tag.In-Progress { background-color: blue; }
.status-tag.Closed { background-color: red; }
.status-tag.Finished { background-color: pink; }

.genre-tag.Hardcore { background-color: rgb(92, 92, 92); }
.genre-tag.Electronic { background-color: rgb(92, 92, 92); }
.genre-tag.Pop { background-color: rgb(92, 92, 92); }
.genre-tag.Hip-Hop { background-color: rgb(92, 92, 92); }
.genre-tag.RNB { background-color: rgb(92, 92, 92); }
.genre-tag.Latin { background-color: rgb(92, 92, 92); }

.collab-item-pr {
  background: linear-gradient(45deg, 
      red, 
      orange, 
      yellow, 
      green, 
      blue, 
      indigo, 
      violet);
  background-size: 400% 400%;
  animation: rainbowGlow 10s ease-in-out infinite;
  border: 2px solid gold;
  color: #fff;
  padding: 10px;
}


@keyframes rainbowGlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.genre-tag.Priority {
    color: white;
    font-size: 15px;
    font-style:oblique;
    background: linear-gradient(45deg, 
    rgb(138, 0, 0), 
    rgb(138, 90, 1), 
    rgb(138, 138, 0), 
    green, 
    blue, 
    indigo, 
    rgb(134, 73, 134));
  border-color: gold;
  box-shadow: 0 0 15px rgba(255, 223, 0, 0.5);
  animation: priorityAnimation 3s linear infinite;
}

@keyframes priorityAnimation {
  0% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
  }
  14% {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
  }
  28% {
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8);
  }
  42% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
  }
  57% {
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.8);
  }
  71% {
    box-shadow: 0 0 15px rgba(75, 0, 130, 0.8); 
  }
  85% {
    box-shadow: 0 0 15px rgba(148, 0, 211, 0.8); 
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8); 
  }
}

#faq{
  background-color: #1d1d1d;
  padding: 1rem;
  margin-left: -10px !important;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#faq ol {
  display: inline-block; 
  text-align: left; 
  margin: 0; 
  padding: 0; 
}

#faq ul {
  margin: 0;
  padding-left: 0px;
}

#faq li {
  margin: 0; 
}



@media (max-width: 768px) {
    .collab-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .collab-item {
        width: 100%;
    }
}
a{
    text-decoration: none;
    color: white;
}
